{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}

<div class="form-data">
    {% if user.is_authenticated %}
    <h3>Edit Post:</h3>
    <p>Posting as: {{ user.username }}</p>

    <form action="{% url 'edit_post' %}" method="post" enctype="multipart/form-data">
        {{ form.as_p }} {% csrf_token %}
        <input type="submit" value="Create" class="alert alert-success" role="alert" />
        Your edit will be submitted for approval
    </form>
</div>

{% endif %} {%endblock%}